.hodhome-body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
}

.containerhod {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 40px 40px;
}

.home-header {
    display: flex;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.logout-button {
    width: fit-content;
    height: fit-content;
    background-color: #eb1f1fca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.hod-appraisal-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hod-appraisal-header h2 {
    padding: 15px;
    border-radius: 5px;
    border: 1.5px solid black;
}

.no-actions {
    display: flex;
    justify-content: center;
}

.no-actions p {
    font-size: 1.2em;
    color: rgb(7, 199, 7);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hod-table-container {
    padding: 1.5px;
    margin-top: 20px;
    width: 100%;
}

.hod-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.hod-table-row {
    background-color: none;
}

.hod-table-row.overdue {
    background-color: rgba(255, 136, 136, 0.356);
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    font-weight: bold;
}

td {
    border: 1.5px solid black;
}

.hod-view {
    text-align: center;
    width: 13%;
}

.hod-table td:last-child {
    text-align: center;
    width: 13%;
    white-space: nowrap;
}

.hod-table td:nth-last-child(5) {
    white-space: nowrap;
}

.hod-employee-status-pending {
    color: red;
}

.hod-employee-status-submitted {
    color: rgb(15, 190, 15);
}

.hod-status-pending {
    color: red;
}

.hod-status-submitted {
    color: rgb(15, 190, 15);
}

.hod-view-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 0.9em;
}

.hod-view-btn:hover {
    background-color: #f0f0f0;
}

.hod-fill-up-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 0.9em;
}

.hod-fill-up-btn.disabled {
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    cursor: not-allowed;
}

.hod-fill-up-btn:hover:not(.disabled) {
    background-color: #f0f0f0;
}

@media (max-width: 360px) {
    
    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
    }
}